footer {
  background-color: #7790ff;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bawahkiri {
  text-align: left;
  margin-left: 10px;
}

.bawahkiri p {
  color: #ffffff;
  font-size: 18px;
  max-width: 500px;
}

.bawahkanan {
  text-align: right;
  display: flex;
  flex-direction: column; /* biar link turun ke bawah */
  gap: 10px;
  margin-top: 17px;
}

.bawahkanan a {
  color: #ffffff;
  margin-right: 10px;
  font-size: 18px;
  transition: 1s ease;
}

.bawahkanan a:hover {
  color: #5271ff;
  background-color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 5px;
}

body {
  margin: 30px;
  font-family: poppins;sss
  color: #f9f9f9;
}

nav {
  background-color: #5271ff;
  padding: 10px;
  text-align: center;
  border-radius: 1em;
  margin-bottom: 20px;
}

nav h2 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

p {
  color: #5271ff;
}

.baris-awal {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

article {
  padding: 30px;
  border: 2px solid #5271ff;
  text-align: left;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 20px;
}

.kolomkiri {
  flex: 1 0.1px;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 483px;
}

.kolomkiri img {
  width: 100%;
  display: flex;
  height: auto;
  object-fit: cover;
}
.kolomkiri h2 {
  color: #5271ff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 19px;
  margin-top: 17px;
}

.kolomkanan {
  flex: 1;
  display: flex;
  gap: 11px;
  flex-direction: column;
  max-block-size: 100%;
}

.kolomkanan img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 1s ease;
}

.kolomkanan img:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 20px rgb(50, 85, 240);
  
}
